In [2]:
import pandas as pd
import torch
from sklearn.model_selection import train_test_split

In [3]:
df = pd.read_csv('featured_encoded_df.csv')
df

,IndiGo,Jet Airways,Multiple carriers,SpiceJet,others,Chennai,Delhi,Delhi.1,Kolkata,Kolkata.1,...,Total_Stops,journey_day,journey_month,dep_time_hour,dep_time_min,arrival_time_hour,arrival_time_min,Duration_hours,Duration_mins,Price
0,1,0,0,0,0,0,0,0,0,0,...,0,24,3,22,20,1,10,2,50,3897
1,0,0,0,0,0,0,0,0,1,0,...,2,5,1,5,50,13,15,7,25,7662
2,0,1,0,0,0,0,1,0,0,0,...,2,6,9,9,25,4,25,19,0,13882
3,1,0,0,0,0,0,0,0,1,0,...,1,5,12,18,5,23,30,5,25,6218
4,1,0,0,0,0,0,0,0,0,0,...,1,3,1,16,50,21,35,4,45,13302
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10583,0,0,0,0,1,0,0,0,1,0,...,0,4,9,19,55,22,25,2,30,4107
10584,0,0,0,0,0,0,0,0,1,0,...,0,27,4,20,45,23,20,2,35,4145
10585,0,1,0,0,0,0,0,1,0,0,...,0,27,4,8,20,11,20,3,0,7229
10586,0,0,0,0,1,0,0,0,0,0,...,0,3,1,11,30,14,10,2,40,12648
10587,0,0,0,0,0,0,1,0,0,0,...,2,5,9,10,55,19,15,8,20,11753

In [4]:
x = df.drop("Price" , axis = 1).values
y = df["Price"].values

In [5]:
X_train , X_test , y_train , y_test = train_test_split(x,y , test_size= 0.2)

In [6]:
X_train = torch.FloatTensor(X_train)
X_test = torch.FloatTensor(X_test)
y_train = torch.FloatTensor(y_train)
y_test = torch.FloatTensor(y_test)

In [7]:
import torch.nn as nn
import torch.nn.functional as F

In [8]:
class Ann(nn.Module):
    def __init__(self , input_feature = X_train.shape[1] , hidden1 = 20 , output_feature = 2):
        super().__init__()
        self.layer1 = nn.Linear(input_feature , hidden1)
        self.output_layer = nn.Linear(hidden1 , output_feature)
        
    def forward(self , x):
        x = F.relu( self.layer1(x) )
        x = self.output_layer(x)
        
        return x

In [9]:
model = Ann()

In [10]:
import torch.optim as optim

In [11]:
optimizer = optim.Adam(model.parameters() , lr=0.4)
loss_fn = nn.MSELoss()

In [12]:
y_train_new = y_train.view(y_train.shape[0] , 1)

In [ ]:
epochs=10000
final_losses=[]
for i in range(epochs):
    i=i+1
    y_pred=model.forward(X_train)
    loss=loss_fn(y_pred,y_train_new)
    final_losses.append(loss)
    if i%1000==1:
        print("Epoch number: {} and the loss : {}".format(i,loss.item()))
    optimizer.zero_grad()
    loss.backward()
    optimizer.step()

Epoch number: 1 and the loss : 95561552.0
Epoch number: 1001 and the loss : 5702075.0
Epoch number: 2001 and the loss : 5678828.5
Epoch number: 3001 and the loss : 4469910.0
Epoch number: 4001 and the loss : 4337253.0
Epoch number: 5001 and the loss : 4302131.0
Epoch number: 6001 and the loss : 4303917.5

In [39]:
y_pred.shape

torch.Size([8470, 1])

In [40]:
y_train.shape

torch.Size([8470])